import("sets", "relations")
importFrom("graphics", "plot")
import(proxy)

export("as.binaryMatrix",
       "as.famset",
       "kassess",
       "katoms",
       "kbase",
       "kdomain",
       "kfamset",
       "kfringe",
       "kfringe_inner",
       "kfringe_outer",
       "kneighbourhood",
       "knotions",
       "kspace",
       "kstructure",
       "kstructure_is_kspace",
       "kstructure_is_wellgraded",
       "ktrace",
       "kvalidate",
       "lpath",
       "lpath_is_gradation"
       )

S3method("as.relation", "kstructure")
S3method("as.relation", "kbase")
S3method("as.relation", "kfamset")
S3method("closure", "kstructure")
S3method("closure", "kbase")
S3method("closure", "kfamset")
S3method("plot", "kstructure")
S3method("plot", "kbase")
S3method("plot", "kfamset")
S3method("reduction", "kstructure")
S3method("reduction", "kfamset")
